<p>test</p>

<p> {{theMovie.title}} </p>
<p>{{theMovie.genre}}</p>
<p>{{theMovie.plot}}</p>
<p>
    {{#each theMovie.cast}}
    <li>{{this.name}} : {{this.occupation}} : {{catchPhrase}}</li>
    {{/each}}
</p>

<form action="/movies/{{theMovie._id}}/delete" method="post">
    <input type="submit" value="Delete Movie">
</form>